

{% extends "base.html" %}
{% block content %}

<h1>Create New Forecast Location</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.provider_name.label }}
        {{ form.provider_name }}
    </div>
    <div>
        {{ form.latitude.label }}
        {{ form.latitude }}
    </div>
    <div>
        {{ form.longitude.label }}
        {{ form.longitude }}
    </div>
    <div>
        {{ form.api_key.label }}
        {{ form.api_key }}
    </div>
    <input type="submit" value="Create and Fetch Forecast">
</form>

{% endblock %}