{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>Solar Forecasting Dashboard</h2>
        <hr>
        <p>Total Solar Capacity: {{ total_solar_capacity }} MW</p>
        <p>Total Substation Capacity: {{ total_substation_capacity }} MW</p>
        <p>Total Plant Forecast: {{ total_plant_forecast }} GHI</p>
        <p>Total Substation Forecast: {{ total_substation_forecast }} GHI</p>
    </div>
    <div class="col-md-6">
        <h2>Forecast Locations</h2>
        <hr>
        <div id="map" style="height: 400px;"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var forecastLocations = {{ forecast_locations_json|safe }}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}"></script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}